
.vs/VirtualSensor/FileContentIndex/26de6e04-f0fd-412c-9779-707bd97e1485.vsidx
.vs/VirtualSensor/FileContentIndex/4422492a-0389-478f-b66f-1721419bd03d.vsidx
.vs/VirtualSensor/FileContentIndex/4541501d-0b06-469c-b56a-f50330dca77b.vsidx
.vs/VirtualSensor/FileContentIndex/52f4ee76-56fb-4eec-b42c-17d4b779140d.vsidx
.vs/VirtualSensor/FileContentIndex/b801ba13-a6fa-4134-a257-218283f04980.vsidx
.vs/VirtualSensor/v17/.suo
.vs/VirtualSensor/v17/Browse.VC.db
.vs/VirtualSensor/v17/Browse.VC.db-shm
.vs/VirtualSensor/v17/Browse.VC.db-wal
.vs/VirtualSensor/v17/Browse.VC.opendb
.vs/VirtualSensor/v17/DocumentLayout.json
.vs/VirtualSensor/v17/ipch/AutoPCH/1cd6368073f9943d/2GOYUTSD..ipch
.vs/VirtualSensor/v17/ipch/AutoPCH/33529f8a1800bbcb/SENSORTYPES.ipch
.vs/VirtualSensor/v17/ipch/AutoPCH/a092d63ad9f61ad3/SENSORTYPES.ipch
.vs/VirtualSensor/v17/ipch/AutoPCH/c6e2fbee14a8c98a/SENSOR.ipch
.vs/VirtualSensor/v17/ipch/AutoPCH/e77db6ca158a6f7e/SENSOR.ipch
.vs/VirtualSensor/v17/ipch/AutoPCH/f1010f9c9ba0e194/SOURCE1.ipch
.vs/VirtualSensor/v17/ipch/AutoPCH/fad2d9b7776fd9d3/VIRTUALSENSOR.ipch
.vs/VirtualSensor/v17/Solution.VC.db
VirtualSensor/VirtualSensor.vcxproj.filters
VirtualSensor/VirtualSensor.vcxproj.user
VirtualSensor/x64/Debug/Sensor.obj
VirtualSensor/x64/Debug/SensorTypes.obj
VirtualSensor/x64/Debug/vc143.idb
VirtualSensor/x64/Debug/vc143.pdb
VirtualSensor/x64/Debug/VirtualSensor.exe.recipe
VirtualSensor/x64/Debug/VirtualSensor.ilk
VirtualSensor/x64/Debug/VirtualSensor.log
VirtualSensor/x64/Debug/VirtualSensor.obj
VirtualSensor/x64/Debug/VirtualSensor.tlog/CL.command.1.tlog
VirtualSensor/x64/Debug/VirtualSensor.tlog/Cl.items.tlog
VirtualSensor/x64/Debug/VirtualSensor.tlog/CL.read.1.tlog
VirtualSensor/x64/Debug/VirtualSensor.tlog/CL.write.1.tlog
VirtualSensor/x64/Debug/VirtualSensor.tlog/link.command.1.tlog
VirtualSensor/x64/Debug/VirtualSensor.tlog/link.read.1.tlog
VirtualSensor/x64/Debug/VirtualSensor.tlog/link.secondary.1.tlog
VirtualSensor/x64/Debug/VirtualSensor.tlog/link.write.1.tlog
VirtualSensor/x64/Debug/VirtualSensor.tlog/VirtualSensor.lastbuildstate
x64/Debug/VirtualSensor.pdb
